@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Inter:ital,wght@0,300;0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:wght@400;700&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cactus Classical Serif", serif !important;
}

code {
  font-family: "IBM Plex Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}